

#h1 {
	margin: auto;
	width: 300px;
	margin-bottom: 1em;
}

#h2 {
	margin: auto;
	width: 300px;
	margin-top: 1.25em;
}

fieldset {
  margin:auto;
  margin-bottom: 1em;
  width: 600px;
}

input {
	display: block;
	margin-bottom: .25em;
	width: 300px;
	margin: auto;
}

.print-output {
	height: 125px;
	width: 600px;
	background-color: lightblue;
	margin: auto;
	margin-top: 1em;
}

#triger {
	font-size: 15px;
	margin: auto;
	width: 80px;
}